/* src/styles/HomePage.css */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87.5vh;
    background-color: #e9ecef;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  